@page "/"
@using System.Drawing
@using Blazeroids.Core
@using Blazeroids.Core.Assets
@using Blazeroids.Core.GameServices
@using Blazeroids.Web.Game
@using Game.GameServices

@inject IJSRuntime JsRuntime
@inject IAssetsResolver AssetsResolver

<Assets Source="assets/assets.json" OnLoaded="@OnAssetsLoaded" />

@if(!_assetsLoaded){
    <div class="preloading"><span>Loading assets...</span></div>
}

<CanvasManager @ref="_canvasManager" OnCanvasAdded="@OnCanvasAdded" />

@code
{
    CanvasManager _canvasManager;
    GameContext _game;
    
    bool _assetsLoaded = false;
    bool _initialized = false;

    private async Task OnAssetsLoaded()
    {
        _assetsLoaded = true;
        if(!_initialized){
            await InitGame();
            _initialized = true;
        }
    }

    private async Task OnCanvasAdded()
    {
        await JsRuntime.InvokeAsync<object>("onResize");
    }

    private async ValueTask InitGame()
    {
        var instance = DotNetObjectReference.Create(this);
        await JsRuntime.InvokeVoidAsync("initGame", instance);

        var soundService = new SoundService(JsRuntime);
        _game = new BlazeroidsGame(_canvasManager, AssetsResolver, soundService);
        await _game.InitAsync();
    }

    [JSInvokable]
    public void OnResize(int screenWidth, int screenHeight)
    {
        if (null == _game) return;
        _game.Display.Size = new Size(screenWidth, screenHeight);
    }
}
