@inherits BaseAsset<Core.Assets.AnimationCollection>

@if(this.Source is not null){
    <div hidden data-type="animations" name="@this.Source.Name">

    @foreach(var animation in this.Source.Animations){
        <img hidden src="data:image/png;base64,@animation.ImageData" 
             @ref="animation.ImageRef" 
             @onload="@OnImageLoaded"
             name="@animation.ImageRef.Id" 
             data-name="@animation.Name" />
    }

    </div>
}

@code{
    private int? _imagesToLoad;
    
    private async Task OnImageLoaded(){
        if(!_imagesToLoad.HasValue)
            _imagesToLoad = this.Source.Animations.Count();
        _imagesToLoad--;

        if(_imagesToLoad < 1){
            await this.OnLoaded.InvokeAsync(this);
        }
            
    }
}